{% extends 'todo/layout.html' %}

{% block content %}
<div class="container" id="container">
	<div class="form-container sign-in-container">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container" id="container" style="text-align: center;">
                <div class="p-3 mb-2 bg-warning text-dark">
                    <h2>Editar perfil</h2>
                {{form.as_p}}

                <button type="submit" class= "btn btn-bg btn-light btn-lg"  href="{% url 'home' %}">EDITAR</button>
            </div>
        </form>

    
	</div>		
	
</div>
   

{% endblock content %}