{%extends 'todo/layout.html' %}

    {% block content %}
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="container" id="container" style="text-align: center;">
                    <div class="p-3 mb-2 bg-warning text-dark">
                        <h2>REGISTRARSE</h2>
                    {{form.as_p}}
    
                    <button type="submit" class="btn btn-light btn-bg"  href="{% url 'home' %}">Registrarse</button>
                </div>
            </form>
    
        
        </div>		
        
    </div>
       
{% endblock %}
